pip>=23.3.1
langchain
pysqlite3-binary
streamlit==1.28.0
#llama_index
openai
#docx2txt
unstructured
unstructured[docx]
unstructured[pdf]
opencv-python-headless
chromadb
tiktoken

#libgl1-mesa-glx
#torch
#accelerate
#sentence_transformers
#streamlit_chat
#streamlit
#faiss-cpu
#tiktoken
#ctransformers
#huggingface-hub
#pypdf
#python-dotenv
#replicate
#docx2txt
